body {
    background-color: rgb(233, 232, 232);
    color:#222 ;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin-right: 0%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(107, 208, 255);
    max-width: 96%-40px;
    float: right;
    flex-wrap: nowrap;
}
nav ul li {
    float: left;
    color: whitesmoke;
}

nav ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-family: 'Nova Flat';font-size: 34px;
    width: fit-content;

}
nav ul li a i{
    font-size: 40px;
}
@media all and (max-width:1100px) {
    nav ul {
        flex-wrap: wrap;
        float:none;
    }
    nav ul li {
        width: 50%;
        text-align: center;
        padding: 0;
    }
    nav ul li {
        display: block;
    }
}

@media all and (max-width:720px) {
    nav ul li {
        width: 100%;
    }
}
  
nav ul li a:hover:not(.active) {
    background-color: rgb(0, 110, 255);
}

.curriculum {
    color: rgb(67, 9, 226);
    font-family: 'Nova Flat';font-size: 40px;
    padding: 28x;
}
@media all and (max-width:1280px) {
    .curriculum {
        color: rgb(9, 226, 63);
        font-family: 'Nova Flat';font-size: 50px;
        padding: 28x;
    }
}

@media all and (max-width: 500px) {
    .curriculum {
        color: rgb(101, 76, 170);
        font-family: 'Nova Flat';font-size: 46px;
        padding: 28x;
    }
}



footer {
    background-color: rgb(107, 208, 255);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-family: 'Nova Flat';font-size: 34px;
    max-width: 96%-40px;
}

h1{
    font-family: 'Nova Flat';font-size: 34px;
    border-bottom: #222 solid 4px;
}

.techstack-list {
    width: 100%-40px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.techstack-list-option{
    width: fit-content;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 40px;
    color: rgb(107, 208, 255);
    border-radius: 10px;
    -webkit-box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
}

.techstack-list-option i {
    display: flex;
    font-size: 100px;
    width: fit-content+20x;
    justify-content: center;
    color: rgb(107, 208, 255);
    padding: 10px;
    
}

.techstack-text {
    font-family: 'Nova Flat';font-size: 30px;
    text-align: center;
    color:#222 ;

    
}

.techstack-title {
    font-family: 'Nova Flat';font-size: 36px;
    display:flex;
    justify-content: center;
}

.other-list { 
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    
}

.other-list-option {
    max-width: 460px;
    display: flex;
    margin:  30px;
    border-radius: 20px;
    background-color:white;
    -webkit-box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
}

.other-list-option-bar {
    display: flex;
    flex-direction: column;
}

.other-list-option-bar img {
    width: 160px;
    height: 160px;
    padding: 10px;
}

.other-list-option-bar-name {
    font-family: 'Nova Flat';font-size: 30px;
    justify-self: center;
    text-align: center;
}



.ther-list-option-text {
    font-family: 'Nova Flat';font-size: 22px;
    text-align: center;
    color:#222 ;
    border-left: 5px solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.my-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-description{
    background-color:lightgray;
    max-width: 46%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
@media all and (max-width: 800px) {
    .project-description{
        max-width: 90%;
    }
}

.project-image{
    max-width: 90%;
    padding: 10px;
    align-self: center;
}

.project-name{
    font-family: 'Nova Flat';font-size: 26px;
    text-align: center;
    color:#222 ;
    background-color: rgb(107, 208, 255);
    
}
.project-desc{
    font-family: 'Nova Flat';font-size: 20px;
    text-align: center;
    color:#222 
}

.up-div a:link{
    color: white;
    text-decoration: none;
}

.up-div a:visited{
    color: white;
    text-decoration: none;
}

.up-div {
    position: fixed;
    background-color:rgb(107, 208, 255);
    color: white;
    text-align: center;
    font-size: 56px;
    bottom: 30;
    right: 30;
    padding: 5px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    display: none;
}